/*break point*/
@media(max-width: 400px){
    .res-heading {
        font-size: 22px!important;
    }
    .res-p{
        font-size: 15px !important;
        text-align:center !important;
        margin-top: 10px!important;
    }
    .res-button{
        font-size: 12px !important;
    }
}




/*  small queries */
@media(max-width: 576px) {
body{
    overflow-x: hidden !important;
}
.login-button{
    display: none !important;
}
.res-login-button{
    display: block!important;
}

}
/***/
@media(max-width: 768px){
    
    }
    

/***/
@media(max-width: 992px){
    .three-cards{
        flex-direction: column!important;
    }
    .announce-button{
        display: inline!important;
       
    }
    .slick-dots{
        display: none !important;
    }
    .res-login-button{
        display: block!important;
    }
    .login-button{
        display: none !important;
    }

        #sidebar {
            margin-left: -250px;
        }
        #sidebar.active {
            margin-left: 0;
        }
        .burger{
            display: flex!important;
        }
        .lists{
            margin-top: 0 !important;
        }
        .nav-links-group{
            background: #F8FAFEF2;
             border-radius: 5px;
             padding: 20px 0 !important;
        }
    }
    

/***/
@media(max-width: 1120px){
    .cont{
display: flex !important;
justify-content: center;
align-items:center ;
    }
    .svg-title{
        flex-direction: column!important;
    }
    .svg-title img {
        display: none !important;
    }
    #dash-brand{
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #dash-brand-t{
        margin: 0 !important;
    }
 
}


