*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Montserrat', sans-serif;
    background: #F8FAFE!important;
    overflow-x: hidden !important;
    
}
a{
    text-decoration: none !important;
}
.primery-color{
    color: #2F55D4!important;
}
.secondery-color{
    color: #8E8E8E!important;
}
.primary-button{
    background: #2F55D4 !important;
    color: #fff !important;
}
.button-hover-state:hover{
    box-shadow: 0px 0px 27px #FFFFFFB0;
    outline: 2px solid #FFF;
}

.secondary-button{
    background: #2F55D41C !important;
    color: #2F55D4!important;
    border: 1px solid #2F55D4 !important;
    border-radius: 3px !important;
}
.slick-arrow{
    background: #fff;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    border-radius: 50%;
}
.res-login-button{
    display: none !important;
    background: #FFFFFFC9!important;
    border: 1px solid #FFFFFF4F;
    box-shadow: 0px 18px 27px #2F55D438;
    color: #2F55D4 !important;
    height: 38px;
    width: 302px;
}


/*style*/
nav{
    background: #F8FAFEF2;
    height: 101px !important;
    box-shadow: 0px 9px 33px #00000012 !important;
}
.list-li{
    font-size: 20px;
}
.list-li:hover{
    color: #2F55D4 !important;
}
.hum-icon{
    border: none;
}
.hero{
    background: url(../images/bg.png) no-repeat center center/cover ;
    height: 100vh;
    /* padding-top: 200px !important; */
}
.hero-1{
    background: url(../images/Group\ 9.png) no-repeat center  ;
}
.hero-2{
    background: #F8FAFE;
    /* height: 100vh; */

}

.back{
    z-index: -1;
}
.card-layer{
    background:#fff;
    border-radius: 9px 9px 0 0 ;
}
.slider-but{
   width:16px !important;
   height: 40px !important;
   border-radius: 20px;
   background:#FFFFFF;

}
.slider-but:hover{
    box-shadow: 0px 0px 15px #0000001A ;
    cursor: pointer;
 
}
.hover-state:hover{
    background: #2F55D4 !important;
    color: #fff !important;
    cursor: pointer !important;
}
.hover-state:hover small {
    color: #fff !important;

}
.hover-state:hover button {
    background: #fff !important;
    color: #2F55D4 !important;
    border: none !important;
    outline: white !important;
}
.hover-state:hover button i{
    color: #2F55D4 !important;
}
.hover-state:hover svg{
    color: #fff !important;
    fill: #fff !important;
}
.shadow-state{
    box-shadow: 0px 14px 26px #2F55D426;
}
.border-none{
    border:none !important;
}

/*********************************/
/* .for-slick-slider{
    display: flex;
}
.for-slick-slider .items {
    width: 350px;
    height: 250px;
    margin: 50px;
}
.for-slick-slider .items img {
    width: 350px;
    height: 250px;
} */
